# Arquivos sensíveis do Android
local.properties
*.keystore
*.jks

# Pastas de build e configurações
.gradle/
.idea/
build/
app/build/
app/debug/  # <- Especificamente o seu diretório "debug" não rastreado

# Arquivos gerados pelo Android Studio
.idea/
*.iml
*.log

# Outros arquivos temporários
.DS_Store
*.swp
*.apk
*.aab
app/debug/output-metadata.json
app/release/output-metadata.json
app/release/baselineProfiles/
